---
import Paragraph from '../shared/Paragraph.astro';

export interface Props{
    title:string,
    description:string,
    avatar?:string
}

const {title, description, avatar} = Astro.props
---
<div class="p-5 sm:p-6 lg:p-8 rounded-3xl relative overflow-hidden w-64">
	<img src={avatar}
		alt="profile picture" class="mb-4 mx-auto" style="border-radius: 50%; max-width: 150px; height: 150px;">
    <div class="mt-2 space-y-2 relative flex flex-col items-center justify-center">
        <h2 class="text-lg md:text-xl font-semibold text-heading-2 text-center">
            {title}
        </h2>
        <Paragraph className="text-center max-w-[100]">
            {description}
        </Paragraph>
    </div>
</div>
