---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="features">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
        
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
            <Title>
                Beneficios de trabajar con nosotros
            </Title>
            <Paragraph className="mt-8">
                ¿Por qué elegirnos? En <span class="font-bold">QuarryCode</span> nos especializamos en el desarrollo de soluciones digitales a medida, que se adaptan a las necesidades de tu negocio y te ayudan a alcanzar tus objetivos.
            </Paragraph>
            <ul class="mt-8 space-y-4 text-heading-3 font-medium">
                <li>
                    <div class="grid grid-cols-12">
                        <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
                        <div class="col-span-11">
                            <Paragraph>Soluciones escalables</Paragraph>
                            Nuestros desarrollos están preparados para crecer a la par de tu negocio.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid grid-cols-12">
                        <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
                        <div class="col-span-11">
                            <Paragraph>Diseño centrado en el usuario</Paragraph>
                            Creamos experiencias intuitivas y fluidas que mejoran la interacción de los usuarios con tu marca.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid grid-cols-12">
                        <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
                        <div class="col-span-11">
                            <Paragraph>Tecnología avanzada</Paragraph>
                            Utilizamos las últimas herramientas y frameworks para garantizar seguridad, rendimiento y adaptabilidad.
                        </div>
                    </div>
                </li>
                <li>
                    <div class="grid grid-cols-12">
                        <span class="font-bold bg-box-bg rounded-full w-8 h-8 mr-3 text-primary inline-flex justify-center items-center">&checkmark;</span> 
                        <div class="col-span-11">
                            <Paragraph>Soporte continuo</Paragraph>
                            Te acompañamos en todo momento con soporte técnico y actualizaciones, asegurando que tu software esté siempre al día.
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="max-w-md mx-auto midmd:max-w-none lg:mx-0  lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto">
            <div class="w-full h-80 sm:h-96 midmd:h-full relative">
                <div class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"></div>
                <div class="absolute  p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"></div>
                
                <span class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-green-400 opacity-40 blur-2xl left-0 bottom-0"></span>
                <img src={"/images/dev-with-c.webp"} alt="banner image" 
                width="1240" height="1385"
                class=" w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full" />
            </div>
        </div>
    </Container>
</section>
