---
import GroupFooterNav from "../blocks/GroupFooterNav.astro";
import Container from "../shared/Container.astro";
import FooterNav from "../shared/FooterNav.astro";
import Paragraph from "../shared/Paragraph.astro";

const footerCompany = [
    { itemText:"Services", itemLink:"#services" },
    { itemText:"About Us", itemLink:"#about-us" },
    { itemText:"Features", itemLink:"#features" },
]

const footerContact = [
    { itemText:"Sales", itemLink:"mailto:benja@quarrytech.net" },
    { itemText:"Support", itemLink:"mailto:aldo@quarrytech.net" },
    { itemText:"Development", itemLink:"mailto:tony@quarrytech.net" },
]

---

<div class="mt-16"></div>
<footer class="relative  bg-gradient-to-tr from-gray-100 to-gray-200 dark:from-gray-900 pt-28 rounded-t-3xl">
    <div class="absolute right-0 top-0 h-full w-full flex justify-end">
        <div class="w-28 h-28 overflow-auto flex rounded-xl relative blur-2xl">
            <span
              class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
            ></span>
          </div>
      </div>

      <div class="absolute left-0 bottom-0 h-full w-full flex items-end">
        <div class="w-28 h-28 overflow-auto flex rounded-xl relative blur-2xl">
            <span
              class="absolute w-16 h-16 -top-1 -right-1 bg-green-500 rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -right-1 bg-[#FCDC58] rounded-md rotate-45"
            ></span>
            <span
              class="absolute w-16 h-16 -bottom-1 -left-1 bg-primary rounded-md rotate-45"
            ></span>
          </div>
      </div>
    <Container className="pb-8 relative overflow-auto">
        
        <span class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 blur-2xl opacity-20 w-24 h-16 sm:w-48 sm:h-36 rounded-full rotate-12 skew-x-6 bg-primary"></span>
        <div class="grid grid-cols-2 lg:grid-cols-6 lg:items-stretch gap-8 relative">
            <div class="col-span-2 lg:col-span-2 h-auto flex flex-col">
                <div class="h-full">
                    <a href="#" class="relative flex items-center gap-3">
                        <img src="/logos/logo.png" alt="QuarryCode" class="w-16 h-16 rounded-full"/>
                        <div class="inline-flex text-lg font-semibold text-heading-1">
                            QuarryCode
                        </div>
                    </a>
                    <Paragraph className={"mt-8 italic"}>
                        Orgullosamente Zacatecanos, con la misión de llevar la tecnología a todos los rincones del mundo.
                    </Paragraph>
                </div>
            </div>

            <GroupFooterNav>
                <FooterNav title={"Compañia"} navItems={footerCompany}/>
            </GroupFooterNav>
            <GroupFooterNav>
                <FooterNav title={"Contacto"} navItems={footerContact}/>
            </GroupFooterNav>
        </div>
    </Container>
    <div class=" bg-gradient-to-tl from-box-bg py-2 relative">
        <Container>
            <div class="flex justify-center items-center gap-6 md:text-lg text-heading-3">
                <div>
                    &copy; <span id="year"></span> QuarryCode. Todos os derechos reservados.
                </div>
            </div>
        </Container>
    </div>
</footer>
