---
import Footer from "../components/elements/Footer.astro";
import Navbar from "../components/elements/Navbar.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Soluciones Web digitales" />
    <title>QuarryCode - {title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="overflow-hidden overflow-y-auto bg-body">
    <Navbar />
    <slot />
    <Footer />
  </body>
  <script>
    const switchTheme = document.querySelector(
      "[data-switch-theme]",
    ) as HTMLButtonElement;

    if (
      localStorage.getItem("appTheme") === "dark" ||
      (!("appTheme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.add("dark");
    } else {
      document.documentElement.classList.remove("dark");
    }
    if (switchTheme) {
      switchTheme.addEventListener("click", (e) => {
        e.preventDefault();
        const doc = document.documentElement;
        if (doc) {
          if (localStorage.getItem("appTheme")) {
            if (localStorage.getItem("appTheme") === "light") {
              doc.classList.add("dark");
              localStorage.setItem("appTheme", "dark");
            } else {
              document.documentElement.classList.remove("dark");
              localStorage.setItem("appTheme", "light");
            }
          } else {
            if (doc.classList.contains("dark")) {
              doc.classList.remove("dark");
              localStorage.setItem("appTheme", "light");
            } else {
              doc.classList.add("dark");
              localStorage.setItem("appTheme", "dark");
            }
          }
        }
      });
    }
  </script>
  <script>
    const toggleMenu = document.querySelector(
      "[data-toggle-nav]",
    ) as HTMLButtonElement;
    const navbar = document.querySelector("[data-navbar]") as HTMLDivElement;
    const overlayNav = document.querySelector(
      "[data-nav-overlay]",
    ) as HTMLDivElement;
    if (toggleMenu) {
      toggleMenu.addEventListener("click", (e) => {
        e.preventDefault();
        if (toggleMenu.getAttribute("data-open-nav") === "false") {
          toggleMenu.setAttribute("data-open-nav", "true");
          overlayNav.setAttribute("data-is-visible", "true");
          document.body.classList.add("!overflow-y-hidden");
          navbar.style.height = `${navbar.scrollHeight}px`;
        } else {
          toggleMenu.setAttribute("data-open-nav", "false");
          overlayNav.setAttribute("data-is-visible", "false");
          document.body.classList.remove("!overflow-y-hidden");
          navbar.style.height = "0px";
        }
      });

      navbar.addEventListener("click", () => {
        toggleMenu.setAttribute("data-open-nav", "false");
        overlayNav.setAttribute("data-is-visible", "false");
        document.body.classList.remove("!overflow-y-hidden");
        navbar.style.height = "0px";
      });

      overlayNav.addEventListener("click", () => {
        toggleMenu.setAttribute("data-open-nav", "false");
        overlayNav.setAttribute("data-is-visible", "false");
        document.body.classList.remove("!overflow-y-hidden");
        navbar.style.height = "0px";
      });
    }
  </script>
</html>
<style is:global>
  :root {
    --color-bg: 255 255 255;
    --color-border: 255 255 255;
    --color-box: 255 255 255;
    --box-border: 229 231 235;
    --box-sd: 226 232 240 / 0.5;
    --heading-1: 23 37 84;
    --heading-2: 31 41 55;
    --heading-3: 55 65 81;

    /* --text: 9 13 17 */
    --text-1: 9 13 17;
    --text-2: 14 18 22;
    --text-3: 20 24 28;
    --text-4: 35 40 45;
    --text-5: 60 66 72;
    --text-6: 95 100 106;
    --text-7: 130 134 139;
    --text-8: 165 169 173;
    --text-9: 200 203 206;
    --text-10: 235 237 239;

    /* --background: 238 242 246 */
    --background-1: 238 242 246;
    --background-2: 224 230 235;
    --background-3: 210 218 225;
    --background-4: 196 206 214;
    --background-5: 182 194 203;
    --background-6: 168 182 192;
    --background-7: 154 170 181;
    --background-8: 140 158 170;
    --background-9: 126 146 159;
    --background-10: 112 134 148;

    /* --primary: 50 68 93 */
    --primary-1: 50 68 93;
    --primary-2: 65 83 108;
    --primary-3: 80 98 123;
    --primary-4: 95 113 138;
    --primary-5: 110 128 153;
    --primary-6: 125 143 168;
    --primary-7: 140 158 183;
    --primary-8: 155 173 198;
    --primary-9: 170 188 213;
    --primary-10: 185 203 228;

    /* --secondary: 196 149 198 */
    --secondary-1: 196 149 198;
    --secondary-2: 186 142 188;
    --secondary-3: 176 134 178;
    --secondary-4: 166 127 168;
    --secondary-5: 156 120 158;
    --secondary-6: 146 113 148;
    --secondary-7: 136 105 138;
    --secondary-8: 126 98 128;
    --secondary-9: 116 91 118;
    --secondary-10: 106 83 108;

    /* --accent: 158 87 133 */
    --accent-1: 158 87 133;
    --accent-2: 148 82 125;
    --accent-3: 138 77 117;
    --accent-4: 128 72 109;
    --accent-5: 118 67 101;
    --accent-6: 108 62 93;
    --accent-7: 98 57 85;
    --accent-8: 88 52 77;
    --accent-9: 78 47 69;
    --accent-10: 68 42 61;
  }

  .dark {
    --color-bg: 3 7 18;
    --color-box: 17 24 39;
    --box-border: 243 244 246/0.1;
    --box-sd: transparent;
    --heading-1: 255 255 255;
    --heading-2: 243 244 246;
    --heading-3: 209 213 219;

    /* --text: 238 242 246 */
    --text-1: 238 242 246;
    --text-2: 224 230 235;
    --text-3: 210 218 225;
    --text-4: 196 206 214;
    --text-5: 182 194 203;
    --text-6: 168 182 192;
    --text-7: 154 170 181;
    --text-8: 140 158 170;
    --text-9: 126 146 159;
    --text-10: 112 134 148;

    /* --background: 9 13 17 */
    --background-1: 9 13 17;
    --background-2: 14 18 22;
    --background-3: 20 24 28;
    --background-4: 35 40 45;
    --background-5: 60 66 72;
    --background-6: 95 100 106;
    --background-7: 130 134 139;
    --background-8: 165 169 173;
    --background-9: 200 203 206;
    --background-10: 235 237 239;

    /* --primary: 162, 180, 205 */
    --primary-1: 162 180 205;
    --primary-2: 147 163 186;
    --primary-3: 132 146 167;
    --primary-4: 117 129 148;
    --primary-5: 102 112 129;
    --primary-6: 87 95 110;
    --primary-7: 72 78 91;
    --primary-8: 57 61 72;
    --primary-9: 42 44 53;
    --primary-10: 27 27 34;

    /* --secondary: 104, 57, 106 */
    --secondary-1: 104 57 106;
    --secondary-2: 94 51 95;
    --secondary-3: 84 46 85;
    --secondary-4: 74 40 75;
    --secondary-5: 64 35 64;
    --secondary-6: 54 30 54;
    --secondary-7: 44 25 44;
    --secondary-8: 34 20 34;
    --secondary-9: 24 15 23;
    --secondary-10: 14 10 13;

    /* --accent: 168, 97, 143 */
    --accent-1: 168 97 143;
    --accent-2: 152 88 129;
    --accent-3: 137 79 115;
    --accent-4: 121 70 101;
    --accent-5: 106 61 87;
    --accent-6: 90 52 73;
    --accent-7: 75 43 59;
    --accent-8: 59 34 45;
    --accent-9: 44 25 31;
    --accent-10: 28 16 17;
  }

  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Raleway", sans-serif;
  }

  [data-toggle-nav][data-open-nav="true"] #line1 {
    transform: translateY(0.375rem) rotate(40deg);
  }
  [data-toggle-nav][data-open-nav="true"] #line2 {
    transform: scaleX(0);
    opacity: 0;
  }
  [data-toggle-nav][data-open-nav="true"] #line3 {
    transform: translateY(-0.375rem) rotate(-40deg);
  }

  [data-nav-overlay][data-is-visible="true"] {
    visibility: visible;
    display: flex;
  }
</style>
